{% extends "base.html" %}

{% block contenido %}
<h2>Taller Apps - Sobre nosotros</h2>


<form action="/sobrenosotros" method="post">
    {{ form_agregar.csrf_token() }}
    {{ form_agregar.titulo.label }} {{ form_agregar.titulo }}
    {{ form_agregar.enviar }}
</form>

<!-- Formulario para eliminar tarea por ID -->
<h3>Eliminar por ID</h3>
<form action="/sobrenosotros" method="post">
    {{ form_eliminar.csrf_token() }}
    {{ form_eliminar.id_tarea.label }} {{ form_eliminar.id_tarea }}
    {{ form_eliminar.eliminar }}
</form>

{% endblock %}